# Exclude everything by default
**

# Keep only production runtime package contents
!package.json
!package.nls.json
!package.nls.ru.json
!README.md
!LICENSE
!images/icon.png
!out/extension.js
!out/webview/main.js

# Do not ship source maps in production VSIX
**/*.map
